@import '../../scss/_variables';

footer {
  flex-shrink: 0;
  background-color: $color-primary-900;
  font-size: $font-size-md;
  color: $neutral-white;

  .footer__link {
    color: inherit;
    font-weight: $font-weight-medium;
    ~ .footer__link {
      margin-left: 1rem;
      border-left: 1px solid;
      padding-left: 1rem;
    }
  }
}
