<div class="row mb-3">
  <div class="col">
    <div appMaterialElevation [defaultElevation]="0" raisedElevation="4" class="p-4 border rounded">1 of 1 with hover elevation directive</div>
  </div>
</div>

<div class="row mb-3">
  <div class="col">
    <div class="p-4 border rounded">1 of 2</div>
  </div>
  <div class="col">
    <div class="p-4 border rounded">2 of 2</div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 mb-3 mb-sm-0">
    <div class="p-4 border rounded">1 of 3</div>
  </div>
  <div class="col-sm-4 mb-3 mb-sm-0">
    <div class="p-4 border rounded">2 of 3</div>
  </div>
  <div class="col-sm-4">
    <div class="p-4 border rounded">3 of 3</div>
  </div>
</div>
