@import '../../scss/_colors';

.sidenav-container { height: 100%; }

.sidenav { width: 225px; }

// .sidenav .mat-toolbar { background: inherit; }

// .mat-toolbar.sticky {
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }

.active-link { color: $primary-purple }














