<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="neutral-lightest">Logo</mat-toolbar>
    <mat-nav-list >
      <a mat-list-item routerLink="/typography" routerLinkActive="active-link">Typography</a>
      <a mat-list-item routerLink="/radio-button" routerLinkActive="active-link">Radio Button</a>
      <mat-expansion-panel class="mat-elevation-z0 p-0">
        <mat-expansion-panel-header>
            Expansion Panel
        </mat-expansion-panel-header>
        <a mat-list-item href="#">Link</a>
        <a mat-list-item href="#">Link</a>
      </mat-expansion-panel>
      <!-- <a mat-list-item href="#">Link</a> -->
    </mat-nav-list>
  </mat-sidenav>

  <!-- Used on button to display menu icon
        *ngIf="isHandset$ | async"
  -->
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z2">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>angular-material-bootstrap</span>
    </mat-toolbar>

    <main class="py-6 py-md-9">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </main>

    <ng-content></ng-content>
    
    <app-footer></app-footer>
  </mat-sidenav-content>
  
</mat-sidenav-container>