<div class="row">

  <div class="col col-md-5 col-lg-4">
    <aside class="mb-8 mb-md-0">
      
      <div class="px-9">
        <img src="https://previews.123rf.com/images/chagin/chagin1905/chagin190500066/122701871-modern-business-woman-in-the-office-copy-space.jpg" class="profile-image img-fluid rounded-circle" alt="...">
      </div>

      <!-- display this profile section on small breakpoints -->
      <section id="profile" class="mt-4 mb-8 d-block d-md-none">
        <div class="profile-header pb-4 mb-6">
          <div class="d-flex justify-content-between align-items-end">
            <h2 class="name mb-0">Belle Elliot</h2>
            <div class="nmls-number mb-1"><span>NMLS:</span> 123456</div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="title mb-0">Lending Officer</h6>
            <div class="state-license"><span>State License(s):</span> FL#123456</div>
          </div>
        </div><!-- .end profile-header -->
  
        <div class="profile-bio">
          <p>Belle Elliott, Branch Manager and Senior Loan Officer for Castle & Cooke Mortgage, is known for his determination, expertise and dedication to making your dream home become a reality. An award-winning mortgage industry veteran, Joe’s experience as a lender began in 2002, and he has served on the Castle & Cooke Mortgage team since 2009.</p>
  
          <p>In addition to his work in the mortgage business, Joe is also devoted to his local community. He and his wife, Stephanie, raise money for a local pet rescue shelter, which takes in cats, dogs and other animals to rehabilitate them and adopt them out into the community. He also enjoys spending time with his wife by working out, running and staying active together.</p>
        </div><!-- .end profile-bio -->
      </section><!-- .end #profile -->

      <div class="profile-button-group my-6">
        <button mat-flat-button color="primary" class="w-100 mb-4">Start a Loan Application</button>
        <button mat-stroked-button color="primary" class="w-100">Contact Me - Online Form</button>
      </div>
      
      <mat-card class="contact-card mb-6 mat-card-flat">
        <mat-card-header>
          <mat-card-title>Contact Information</mat-card-title>
        </mat-card-header>
        <mat-card-content class="pb-4">
          <mat-list role="list">
            <mat-list-item class="" role="listitem">
                <div class="list-label">Office:</div>
                <div class="list-data">
                  <a href="#" class="" target="_blank">(555) 123-4567</a>
                </div>
            </mat-list-item>
            <mat-list-item class="" role="listitem">
              <div class="list-label">Mobile:</div>
              <a href="#" class="" target="_blank">(555) 123-4567</a>
            </mat-list-item>
            <mat-list-item class="" role="listitem">
              <div class="list-label">Fax:</div>
              <a href="#" class="" target="_blank">(555) 123-4567</a>
            </mat-list-item>
            <mat-list-item class="" role="listitem">
              <div class="list-label">Email:</div>
              <a href="mailto:someone@yoursite.com?subject=Mail from Our Site" class="" target="_blank">first.last@email.com</a>
            </mat-list-item>
            <mat-list-item class="" role="listitem">
              <div class="list-label">Social:</div>
              <a href="#" class="" target="_blank">LinkedIn</a>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>

      <mat-card class="branch-card mb-6 mat-elevation-z0">
        <mat-card-header>
          <mat-card-title>Branch Location</mat-card-title>
        </mat-card-header>
        <mat-card-content class="">
          <address>
            1234 Main Street<br>
            Suite 150, Offices 18-21<br>
            Jacksonville, FL 32204<br>
          </address>
        </mat-card-content>
        <mat-card-actions class="">
          <button mat-button color="primary" class="w-100">Get Directions</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="quick-links-card mat-elevation-z0">
        <mat-card-content class="pb-4">
          <mat-list role="list">
            <mat-list-item class="" role="listitem">
              <a href="#" class="" target="_blank">URLA Form</a>
            </mat-list-item>
            <mat-list-item class="" role="listitem">
              <a href="#" class="" target="_blank">Mortgage Calculatores</a>
            </mat-list-item>
            <mat-list-item class="" role="listitem">
              <a href="#" class="" target="_blank">Home Shopping Assistant</a>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>

    </aside><!-- .end sidebar -->
  </div><!-- .end col -->


  <div class="col col-md-7 col-lg-8">

    <!-- display this profile section on medium+ breakpoints -->
    <section id="profile" class="mb-9 d-none d-md-block">
      <div class="profile-header pb-4 mb-6">
        <div class="d-flex justify-content-between align-items-end">
          <h2 class="name mb-0">Belle Elliot</h2>
          <div class="nmls-number mb-1"><span>NMLS:</span> 123456</div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <h6 class="title mb-0">Lending Officer</h6>
          <div class="state-license"><span>State License(s):</span> FL#123456</div>
        </div>
      </div><!-- .end profile-header -->

      <div class="profile-bio">
        <p>Belle Elliott, Branch Manager and Senior Loan Officer for Castle & Cooke Mortgage, is known for his determination, expertise and dedication to making your dream home become a reality. An award-winning mortgage industry veteran, Joe’s experience as a lender began in 2002, and he has served on the Castle & Cooke Mortgage team since 2009.</p>

        <p>In addition to his work in the mortgage business, Joe is also devoted to his local community. He and his wife, Stephanie, raise money for a local pet rescue shelter, which takes in cats, dogs and other animals to rehabilitate them and adopt them out into the community. He also enjoys spending time with his wife by working out, running and staying active together.</p>
      </div><!-- .end profile-bio -->
    </section><!-- .end #profile -->


    <section id="reviews">
      <div class="reviews-header pb-3 mb-6">
        <div class="row">

          <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <h4 class="title mb-0">Client Reviews</h4>
                <div class="ml-2 ml-lg-6 d-flex align-items-center">
                  <div class="stars mr-2">&#9733;&#9733;&#9733;&#9733;&#9734;	
                  </div>
                  <div class="stars-count">(35)</div>
                </div>
              </div>
              <button mat-button color="primary">Write a Review</button>
            </div>
          </div><!-- .end col -->

        </div><!-- .end row -->
      </div><!-- .end reviews-header -->
    
      <div class="review-results mb-6 d-flex justify-content-between align-items-center">
        <div class="stars-dropdown">
          <mat-form-field appearance="outline">
            <mat-label>Select Stars</mat-label>
            <mat-select>
              <mat-option value="all">All Stars</mat-option>
              <mat-option value="one">One Star</mat-option>
              <mat-option value="two">Two Stars</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="review-count">Showing 1-2 of 35 reviews</div>
      </div><!-- end reviews-results -->

      <mat-card class="review-card mb-6 mat-elevation-z0">
        <mat-card-header>
          <mat-card-title class="d-flex justify-content-between align-items-center">
            <div class="stars mr-3">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
            <div class="date">February 10, 2020</div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="pb-4">
          <blockquote>
            “Jamie was super responsive and awesome to work with. The weekly updates from Nicole were great too.”
          </blockquote>
          <div class="name"><span class="mr-1">&#8212;</span>Scott</div>
        </mat-card-content>
      </mat-card><!-- end review-card -->

      <mat-card class="review-card mb-6 mat-elevation-z0">
        <mat-card-header>
          <mat-card-title class="d-flex justify-content-between align-items-center">
            <div class="stars mr-3">&#9733;&#9733;&#9733;&#9734;&#9734;</div>
            <div class="date">January 1, 2020</div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="pb-4">
          <blockquote>
            “Jamie was super responsive and awesome to work with. The weekly updates from Nicole were great too.”
          </blockquote>
          <div class="name"><span class="mr-1">&#8212;</span>Heather</div>
        </mat-card-content>
      </mat-card><!-- .end review-card -->

      <button mat-stroked-button color="primary">Load More</button>
    </section><!-- .end reviews-->


  </div><!-- .end col-->
</div><!-- .end row -->
