<app-navbar>

  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      This is the expansion title
    </mat-expansion-panel-header>
  
    <p>This is the primary content of the panel.</p>
  
    <mat-action-row>
      <button mat-button>Click me</button>
    </mat-action-row>
  </mat-expansion-panel>
  
  <mat-expansion-panel class="mat-elevation-z0 p-0">
  <mat-expansion-panel-header>
      Expansion Panel
  </mat-expansion-panel-header>
  <a mat-list-item href="#">Link</a>
  <a mat-list-item href="#">Link</a>
</mat-expansion-panel>


<mat-nav-list>
  <mat-list-item >
    <mat-icon matListIcon>check_circle_outline</mat-icon>
    <a matLine href="...">test</a>
    <button mat-icon-button>
       <mat-icon>info</mat-icon>
    </button>
 </mat-list-item>
 <mat-divider></mat-divider>
  <a mat-list-item href="#">
    <mat-icon matListIcon>home</mat-icon>
    <h3 matLine>Link</h3>
    <p matLine>Paragraph</p>
  </a>
</mat-nav-list> -->

</app-navbar>

