<button mat-fab class="scroll-to-top"
appMaterialElevation
[defaultElevation]="2"
>
  <img src="../../assets/chat.svg" alt="questions">
</button>

<!-- 
<i class="fal fa-question-circle fa-2x"></i>
 -->
<!--Scroll to top-->
<!-- <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button (click)="scrollToTop()">
      <i class="fa fa-chevron-up"></i>
  </button>
</div> -->

<!-- <button mat-icon-button>
  <mat-icon (click)="window.scrollTo(0, 0);">keyboard_arrow_up</mat-icon>
</button> -->