@import '../../scss/_variables';

// .question-answer {
//   margin-bottom: 64px;
// }

.question {
  color: $neutral-gray-darkest;
  margin-bottom: 20px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 4rem;
}

.mat-error {
  color: $warning-orange;
  font-size: $sm-paragraph;
}