@import '../../scss/_variables';

.question {
  color: $neutral-gray-darkest;
  margin-bottom: 20px;
  font-weight: $font-weight-semibold;
  font-size: $font-size-base;
}

.mat-radio-button ~ .mat-radio-button { margin-left: 4rem; }

