<!-- info panel -->
<div class="row justify-content-center my-10">
  <div class="col-sm-10 col-xl-6">

    <div class="info-panel p-4 p-sm-6 d-flex flex-column flex-sm-row">
      <div class="info-panel__icon text-center text-sm-left">
        <mat-icon color="accent" svgIcon="info-circle" class="icon-lg"></mat-icon>
      </div>
      <div class="mt-4 mt-sm-0 pl-sm-6">
        <p>With your consent we can verify your credit, employment, income, assets and liabilities. All you'll have to
          do is confirm the information.</p>
      </div>
    </div>

  </div>
</div> <!-- end info panel -->


<!-- info panel float left -->
<div class="row justify-content-center">
  <div class="col-sm-10 col-xl-6">
    
    <div class="info-panel p-4 p-sm-6">
      
      <div class="info-panel__icon float-left pr-4">
        <mat-icon color="accent" svgIcon="info-circle" class="icon-large"></mat-icon>
      </div>
      <div>
        <p>With your consent we can verify your credit, employment, income, assets and liabilities. All you'll have to do is confirm the information.</p>
      </div>
    </div>
    
  </div>
</div> <!-- end info panel -->




