<form class="row form-field-container example-form justify-content-center">
  <div class="application-wrapper">

    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="outline" color="primary" class="w-100 mb-4">
          <!-- <mat-label>First name</mat-label> -->
          <input matInput placeholder="First name" [formControl]="">
          <!-- <span matPrefix>$&nbsp;</span> -->
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm">
        <mat-form-field appearance="outline" class="w-100 mb-4">
          <mat-label>Last name</mat-label>
          <input matInput placeholder="Last name" [formControl]="">
          <mat-hint>Optional</mat-hint>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline" class="w-100 mb-4">
          <mat-label>Your email</mat-label>
          <input matInput placeholder="email@example.com" [formControl]="">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Your email</mat-label>
          <input matInput placeholder="email@example.com" [formControl]="">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <button mat-stroked-button color="primary" class="mt-5">
      <mat-icon svgIcon="plus" class="icon-md"></mat-icon>
      Primary
    </button>

  </div>
</form>
