@import './scss/theme';
@import './scss/colors';
@import './scss/variables';
@import './scss/general';

// Bootstrap node module imports.
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
//@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/grid";

/* General
==================================== */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: proxima-nova, sans-serif;
    background: $neutral-white;
    color: $neutral-charcoal;
}

.active-link {
  color: blue;
}