// ================================================
// General
// ================================================

html, body { height: 100%; }
body { font-size: $font-size-xl; }

b,
strong {
  font-weight: $font-weight-bold;
}


// **** icons **** //
.mat-icon,
.mat-list-base .mat-list-item .mat-list-icon {
  svg {
    vertical-align: top;
    position: relative;
    top: -1px;
  }
  &.icon-xs {
    height: 12px;
    width: 12px;
  }
  &.icon-sm {
    height: 16px;
    width: 16px;
  }
  &.icon-md{
    height: 20px;
    width: 20px;
  }
  &.icon-lg {
    height: 48px;
    width: 48px;
  }
  &.icon-xl {
    height: 65px;
    width: 65px;
  }
}


// .mat-list-base .mat-list-item .mat-list-icon {
//   @extend .mat-icon;
//   padding-right: 8px !important;
// }


// **** buttons **** //
// .mat-stroked-button { border-width: 1.5px !important; }

.mat-stroked-button,
.mat-raised-button,
.mat-flat-button {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mat-orange,
.mat-raised-button,
.mat-flat-button {
  background-color: $warning-orange;
  //color: $neutral-white;
}


// **** mat form fields **** //
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: .6em 0 1.1em 0;
}

.mat-form-field-label-wrapper {
  top: -1em;
  // padding-top: 1.1em;
}

.mat-form-field ::placeholder {
  color: $neutral-gray-dark;
  opacity: 1; /* Firefox */
}

/* Chrome/Opera/Safari */ 
::-webkit-input-placeholder { color:$neutral-gray-darkest; }

/* Firefox 19+ */
::-moz-placeholder { color:$neutral-gray-darkest; }

/* Firefox 18- */
:-moz-placeholder { color: $neutral-gray-darkest; }

/* Internet Explorer 10-11 */
:-ms-input-placeholder { color: $neutral-gray-darkest; }

/* Microsoft Edge */
::-ms-input-placeholder { color: $neutral-gray-darkest; }


// ================================================
// Typography
// ================================================

// **** headings **** //
.headline {
  font-size: $display1-size;
  font-weight: $font-weight-bolder;
  line-height: $line-height-base;
}

.hero {
  font-size: $display2-size;
  font-weight: $headings-font-weight;
  line-height: $line-height-base;
}

// **** font weights **** //
.font-weight-normal { font-weight: $font-weight-normal; }
.font-weight-medium { font-weight: $font-weight-medium; }
.font-weight-semibold { font-weight: $font-weight-semibold; }
.font-weight-black { font-weight: $font-weight-black; }

// **** prargraphs **** //
.font-size-xl { font-size: $font-size-xl; }
.font-size-lg { font-size: $font-size-lg; }
.font-size-md { font-size: $font-size-md;}
.font-size-sm { font-size: $font-size-sm; }
.font-size-xs { font-size: $font-size-xs; }

.caption,
.mat-hint, 
.mat-error {
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  letter-spacing: .4px;
}


// ================================================
// Elements
// ================================================

// **** cards **** //
.card {
  border-color: $neutral-gray-light;
  &-body{ padding: 24px; }
}

.card-subtitle {
  &_xs {
    font-size: $font-size-xs;
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
    letter-spacing: 1px;
  } 
}

.card-footer {
  border-color: $neutral-gray-light;
}


// **** dividers **** //
.additional-divider {
	position: relative;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 48px;
  
  &:before {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $neutral-gray;
    content: "";
  }

  & span {
    display: inline-block;
    padding: 4px 12px;
    background-color: #fff;
    border: 1px solid $neutral-gray;
    border-radius: 4px;
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
    color: $neutral-gray;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}


// ================================================
// Components
// ================================================




// ================================================
// Navigation
// ================================================

// **** subheader ****//
.subheader {
  min-height: 64px;
  background-color: $neutral-white;
}


// ================================================
// Grid / Layout
// ================================================
.container, 
.container-fluid {
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 576px) { 
  .container,
  .container-fluid {
    padding-right: 24px;
    padding-left: 24px;
  }
}

// **** sticky footer **** //
main { flex: 1 0 auto; }

// **** application layout **** //
.application-wrapper {
  @include make-col-ready();

  @include media-breakpoint-up(lg) {
    @include make-col(9);
  }
  @include media-breakpoint-up(xl) {
    @include make-col(7);
  }
}





