@import '~@angular/material/theming';
@include mat-core();

$custom-typography: mat-typography-config(
  $font-family: $font-family-base,
  $button: mat-typography-level(13px, 1.25, 500)
);
@include angular-material-typography($custom-typography);

// For each palette, you can optionally specify a default, lighter, and darker hue
// $theme-primary: mat-palette($mat-primary-purple, 500, 100, 900);
// $theme-accent: mat-palette($mat-secondary-blue);
// $theme-warn: mat-palette($mat-warning-orange);

// Create the theme object (a Sass map containing all of the palettes).
$my-theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);


// Background palette for light themes.
$my-mat-light-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar:    map_get($mat-grey, 100),
  background: map_get($mat-grey, 50),
  hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
  card:       white,
  dialog:     white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
);

// Foreground palette for light themes.
$my-mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba(black, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  hint-text:         $dark-disabled-text,
  secondary-text:    $dark-secondary-text,
  icon:              rgba(black, 0.54),
  icons:             rgba(black, 0.54),
  text:              $neutral-charcoal,
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);
$my-theme-custom: map-merge($my-theme, (foreground: $my-mat-light-theme-foreground, background: $my-mat-light-theme-background));


// use our theme with angular-material-theme mixin
@include angular-material-theme($my-theme-custom);